In [1]:
import os, sys
import glob

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

import datetime
import time

# df_db와 df_inout 연결

In [2]:
df_db = pd.read_csv(f"./final_db/df_db_hday_rvs.csv", index_col=[0])
df_inout = pd.read_csv("./final_db/2015_subway_day_hour_1234.csv", index_col=[0])

/Users/bowoojang/Desktop/idk/venv/univ_env/lib/python3.8/site-packages/numpy/lib/arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [10]:
df_inout.columns = ['date', 'line', 'stt', 'inout', ] + list(df_inout.columns)[-20:]
df_inout['line'] = df_inout['line'].apply(lambda x: f"{x}호선")
df_inout

,date,line,stt,inout,5,6,7,8,9,10,...,15,16,17,18,19,20,21,22,23,24
0,2015-01-01,1호선,서울역,승차,441.0,399.0,572.0,1106.0,1474.0,2020.0,...,4036.0,4030.0,3666.0,3738.0,3091.0,2749.0,3247.0,2437.0,1279.0,73.0
1,2015-01-01,1호선,시청,승차,101.0,95.0,104.0,127.0,233.0,308.0,...,1038.0,1027.0,1176.0,1133.0,850.0,950.0,612.0,497.0,192.0,6.0
2,2015-01-01,1호선,종각,승차,898.0,482.0,281.0,291.0,328.0,449.0,...,1530.0,2012.0,2176.0,2047.0,1767.0,1834.0,1825.0,1666.0,736.0,37.0
3,2015-01-01,1호선,종로3가,승차,371.0,212.0,155.0,189.0,347.0,491.0,...,1537.0,1791.0,1954.0,1526.0,1297.0,1149.0,1257.0,953.0,415.0,15.0
4,2015-01-01,1호선,종로5가,승차,57.0,101.0,83.0,128.0,209.0,323.0,...,915.0,984.0,948.0,962.0,722.0,576.0,431.0,241.0,102.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82485,2015-12-27,3호선,충무로,하차,26.0,45.5,59.0,91.5,132.5,215.5,...,418.0,912.5,923.0,671.5,428.5,288.0,362.5,211.5,65.0,0.0
82486,2015-12-28,3호선,충무로,하차,29.0,82.0,161.0,231.0,241.5,251.0,...,567.5,656.5,938.5,2220.5,1429.0,842.0,1127.5,751.0,271.0,41.5
82487,2015-12-29,3호선,충무로,하차,33.5,83.0,163.0,249.0,227.5,271.0,...,601.5,664.0,1082.0,2208.5,1316.0,775.0,828.5,612.5,313.0,47.5
82488,2015-12-30,3호선,충무로,하차,35.0,77.5,158.5,250.5,223.5,291.5,...,608.0,759.5,1261.5,2387.5,1378.5,768.5,1158.5,736.5,364.0,74.0
82489,2015-12-31,3호선,충무로,하차,34.0,69.5,131.0,203.0,223.5,240.0,...,830.0,972.0,1288.0,1698.5,934.0,564.5,595.5,553.0,224.0,265.5

df_inout만 연결해보자. : 1호선 작동하고 쥬겄어용....

In [11]:
df_db = pd.read_csv(f"./final_db/df_db_hday_rvs.csv", index_col=[0])
df_db = df_db.drop_duplicates()

df_db1 = pd.read_csv(f"./final_db/df_db_hday_rvs_inout_line_1.csv", index_col = 0)
df_db1 = df_db1.drop_duplicates()
df_db1 = df_db1.reset_index(drop=True)

df_db.loc[df_db['line'] == '1호선', ['in', 'out']] = df_db1.loc[df_db1['line'] == '1호선', ['in', 'out']].copy()

# df_db2 = pd.read_csv(f"./final_db/df_db_hday_rvs_inout_line_2.csv", index_col = 0)
# df_db2 = df_db2.drop_duplicates()
# df_db2 = df_db2.reset_index(drop=True)

# df_db.loc[df_db['line'] == '2호선', ['in', 'out']] = df_db2.loc[df_db2['line'] == '2호선', ['in', 'out']].copy()

/Users/bowoojang/Desktop/idk/venv/univ_env/lib/python3.8/site-packages/numpy/lib/arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

3, 4호선은 왜..?

In [12]:
st_t = time.time()
for line in df_db['line'].unique():
    print(line)
    
    if line in ['1호선', ]:#'2호선']:
        continue

    cond_db1 = df_db['line']==line
    cond_inout1 = df_inout['line']==line
    
    for date in df_db['date'].unique():
        cond_db2 = df_db['date']==date
        cond_inout2 = df_inout['date']==date
        
        for stt in df_db.loc[cond_db1, 'from_stt'].unique():
            cond_db3 = df_db['from_stt']== stt
            cond_inout3 = df_inout['stt']== stt
            
            cond_in = df_inout['inout'] == '승차'
            cond_out = df_inout['inout'] == '하차'

            copy_in = df_inout.loc[cond_inout1&cond_inout2&cond_inout3&cond_in, '5':].to_numpy().reshape(-1,1)
            copy_out = df_inout.loc[cond_inout1&cond_inout2&cond_inout3&cond_out, '5':].to_numpy().reshape(-1,1)
            
            try:
                df_db.loc[cond_db1&cond_db2&cond_db3, 'in'] = copy_in
                df_db.loc[cond_db1&cond_db2&cond_db3, 'out'] = copy_out
            except:
                try:
                    copy_in = np.append(copy_in, copy_in, axis=0)
                    copy_out = np.append(copy_out, copy_out, axis=0)

                    df_db.loc[cond_db1&cond_db2&cond_db3, 'in'] = copy_in
                    df_db.loc[cond_db1&cond_db2&cond_db3, 'out'] = copy_out
                except:
                    print(line, date, stt)
                    df_err = df_db.loc[cond_db1&cond_db2&cond_db3, :].copy()
                    print("$"*30)
                    print(df_inout.loc[cond_inout1&cond_inout2&cond_inout3&cond_in, '5':])
                    break
                
        #break
        print(f"Date {date} end: {time.time() - st_t}")
    #break
    print(f"Line no.{line} end: {time.time() - st_t}")

1호선
2호선
Date 2015-01-01 end: 6.5435028076171875
Date 2015-01-02 end: 13.013556957244873
Date 2015-01-03 end: 19.252059936523438
Date 2015-01-04 end: 25.662090063095093
Date 2015-01-05 end: 32.11825489997864
Date 2015-01-06 end: 38.43532872200012
Date 2015-01-07 end: 44.88328289985657
Date 2015-01-08 end: 51.15684795379639
Date 2015-01-09 end: 57.3810179233551
Date 2015-01-10 end: 63.6329460144043
Date 2015-01-11 end: 70.11491584777832
Date 2015-01-12 end: 76.43938279151917
Date 2015-01-13 end: 82.93486499786377
Date 2015-01-14 end: 89.2602059841156
Date 2015-01-15 end: 95.38522791862488
Date 2015-01-16 end: 101.59331178665161
Date 2015-01-17 end: 107.94352078437805
Date 2015-01-18 end: 114.13457489013672
Date 2015-01-19 end: 120.50332188606262
Date 2015-01-20 end: 126.90942811965942
Date 2015-01-21 end: 133.20261192321777
Date 2015-01-22 end: 139.4665560722351
Date 2015-01-23 end: 145.78431701660156
Date 2015-01-24 end: 152.14642190933228
Date 2015-01-25 end: 158.54977178573608
Date 2015-01-26 end: 164.91577672958374
Date 2015-01-27 end: 171.30292797088623
Date 2015-01-28 end: 177.48761987686157
Date 2015-01-29 end: 183.67810487747192
Date 2015-01-30 end: 189.96667289733887
Date 2015-01-31 end: 196.1942548751831
Date 2015-02-01 end: 202.51418685913086
Date 2015-02-02 end: 208.81564593315125
Date 2015-02-03 end: 215.03469491004944
Date 2015-02-04 end: 221.1806468963623
Date 2015-02-05 end: 227.323255777359
Date 2015-02-06 end: 233.47222089767456
Date 2015-02-07 end: 239.54497909545898
Date 2015-02-08 end: 245.54241585731506
Date 2015-02-09 end: 251.74394392967224
Date 2015-02-10 end: 258.01355504989624
Date 2015-02-11 end: 264.2031898498535
Date 2015-02-12 end: 270.542396068573
Date 2015-02-13 end: 276.7785098552704
Date 2015-02-14 end: 283.09326910972595
Date 2015-02-15 end: 289.30885100364685
Date 2015-02-16 end: 295.43369793891907
Date 2015-02-17 end: 301.5278699398041
Date 2015-02-18 end: 307.6297369003296
Date 2015-02-19 end: 314.03667092323303
Date 2015-02-20 end: 320.4377028942108
Date 2015-02-21 end: 326.7989959716797
Date 2015-02-22 end: 332.92764592170715
Date 2015-02-23 end: 339.2142779827118
Date 2015-02-24 end: 345.3406207561493
Date 2015-02-25 end: 351.5360357761383
Date 2015-02-26 end: 357.74502396583557
Date 2015-02-27 end: 364.1214098930359
Date 2015-02-28 end: 370.66315603256226
Date 2015-03-01 end: 376.84818172454834
Date 2015-03-02 end: 382.86344289779663
Date 2015-03-03 end: 388.9178009033203
Date 2015-03-04 end: 395.08604884147644
Date 2015-03-05 end: 401.26293110847473
Date 2015-03-06 end: 407.5011737346649
Date 2015-03-07 end: 414.1290500164032
Date 2015-03-08 end: 420.4169759750366
Date 2015-03-09 end: 427.7782549858093
Date 2015-03-10 end: 434.24434995651245
Date 2015-03-11 end: 440.3989589214325
Date 2015-03-12 end: 446.89284491539
Date 2015-03-13 end: 453.04736280441284
Date 2015-03-14 end: 459.1876139640808
Date 2015-03-15 end: 465.31023812294006
Date 2015-03-16 end: 471.5165710449219
Date 2015-03-17 end: 477.82300186157227
Date 2015-03-18 end: 483.93089175224304
Date 2015-03-19 end: 490.2052707672119
Date 2015-03-20 end: 496.6622197628021
Date 2015-03-21 end: 502.93194675445557
Date 2015-03-22 end: 509.19911789894104
Date 2015-03-23 end: 515.7048268318176
Date 2015-03-24 end: 522.1333017349243
Date 2015-03-25 end: 528.2489778995514
Date 2015-03-26 end: 534.3737916946411
Date 2015-03-27 end: 540.4908828735352
Date 2015-03-28 end: 546.7678349018097
Date 2015-03-29 end: 553.212671995163
Date 2015-03-30 end: 559.6902289390564
Date 2015-03-31 end: 565.9809989929199
Date 2015-04-01 end: 572.3910949230194
Date 2015-04-02 end: 579.0510458946228
Date 2015-04-03 end: 585.4407608509064
Date 2015-04-04 end: 591.7322068214417
Date 2015-04-05 end: 597.9345989227295
Date 2015-04-06 end: 604.1900689601898
Date 2015-04-07 end: 610.597706079483
Date 2015-04-08 end: 617.1257560253143
Date 2015-04-09 end: 624.5462658405304
Date 2015-04-10 end: 631.8789269924164
Date 2015-04-11 end: 638.8947999477386
Date 2015-04-12 end: 646.0880467891693
Date 2015-04-13 end: 653.4659779071808
Date 2015-04-14 end: 660.4364387989044
Date 2015-04-15 end: 667.4579589366913
Date 2015-04-16 end: 674.0278470516205
Date 2015-04-17 end: 680.5448269844055
Date 2015-04-18 end: 687.0347878932953
Date 2015-04-19 end: 693.3227519989014
Date 2015-04-20 end: 699.5193259716034
Date 2015-04-21 end: 705.7524719238281
Date 2015-04-22 end: 711.9376730918884
Date 2015-04-23 end: 717.9812958240509
Date 2015-04-24 end: 724.013650894165
Date 2015-04-25 end: 730.0395958423615
Date 2015-04-26 end: 736.0704729557037
Date 2015-04-27 end: 742.088075876236
Date 2015-04-28 end: 748.1227600574493
Date 2015-04-29 end: 754.1497778892517
Date 2015-04-30 end: 760.1650528907776
Date 2015-05-01 end: 766.1949789524078
Date 2015-05-02 end: 772.2667527198792
Date 2015-05-03 end: 778.2986750602722
Date 2015-05-04 end: 784.3215618133545
Date 2015-05-05 end: 790.346795797348
Date 2015-05-06 end: 796.4361870288849
Date 2015-05-07 end: 802.4653577804565
Date 2015-05-08 end: 808.5243179798126
Date 2015-05-09 end: 814.5384349822998
Date 2015-05-10 end: 820.5588450431824
Date 2015-05-11 end: 826.5897669792175
Date 2015-05-12 end: 832.6119449138641
Date 2015-05-13 end: 838.6513469219208
Date 2015-05-14 end: 844.6885867118835
Date 2015-05-15 end: 851.0000529289246
Date 2015-05-16 end: 857.7162699699402
Date 2015-05-17 end: 865.1673748493195
Date 2015-05-18 end: 872.0392117500305
Date 2015-05-19 end: 878.4077908992767
Date 2015-05-20 end: 884.8115658760071
Date 2015-05-21 end: 891.2845959663391
Date 2015-05-22 end: 897.4043169021606
Date 2015-05-23 end: 903.5700008869171
Date 2015-05-24 end: 910.0473399162292
Date 2015-05-25 end: 916.5298190116882
Date 2015-05-26 end: 922.8382637500763
Date 2015-05-27 end: 928.9466247558594
Date 2015-05-28 end: 935.1545078754425
Date 2015-05-29 end: 941.5019228458405
Date 2015-05-30 end: 947.788722038269
Date 2015-05-31 end: 954.0355489253998
Date 2015-06-01 end: 960.2885599136353
Date 2015-06-02 end: 966.3926169872284
Date 2015-06-03 end: 972.4933090209961
Date 2015-06-04 end: 978.5981709957123
Date 2015-06-05 end: 984.6818630695343
Date 2015-06-06 end: 990.9457061290741
Date 2015-06-07 end: 997.1557109355927
Date 2015-06-08 end: 1003.5958158969879
Date 2015-06-09 end: 1010.1475758552551
Date 2015-06-10 end: 1016.6125757694244
Date 2015-06-11 end: 1023.0254428386688
Date 2015-06-12 end: 1029.4713008403778
Date 2015-06-13 end: 1035.8121387958527
Date 2015-06-14 end: 1042.2073369026184
Date 2015-06-15 end: 1048.5672929286957
Date 2015-06-16 end: 1054.9801287651062
Date 2015-06-17 end: 1061.3763070106506
Date 2015-06-18 end: 1067.890606880188
Date 2015-06-19 end: 1074.2421238422394
Date 2015-06-20 end: 1080.8411538600922
Date 2015-06-21 end: 1087.1467900276184
Date 2015-06-22 end: 1094.2683358192444
Date 2015-06-23 end: 1101.6153638362885
Date 2015-06-24 end: 1108.2990009784698
Date 2015-06-25 end: 1114.57004404068
Date 2015-06-26 end: 1120.8584420681
Date 2015-06-27 end: 1127.0248420238495
Date 2015-06-28 end: 1133.5580639839172
Date 2015-06-29 end: 1139.8649199008942
Date 2015-06-30 end: 1146.0464279651642
Date 2015-07-01 end: 1152.3443789482117
Date 2015-07-02 end: 1158.628947019577
Date 2015-07-03 end: 1164.8248620033264
Date 2015-07-04 end: 1170.955407857895
Date 2015-07-05 end: 1177.0769307613373
Date 2015-07-06 end: 1183.1773419380188
Date 2015-07-07 end: 1189.365042924881
Date 2015-07-08 end: 1195.5315527915955
Date 2015-07-09 end: 1201.7680668830872
Date 2015-07-10 end: 1207.9448227882385
Date 2015-07-11 end: 1214.0836489200592
Date 2015-07-12 end: 1220.2155170440674
Date 2015-07-13 end: 1226.2968940734863
Date 2015-07-14 end: 1232.448329925537
Date 2015-07-15 end: 1238.7532918453217
Date 2015-07-16 end: 1244.8875920772552
Date 2015-07-17 end: 1251.0026540756226
Date 2015-07-18 end: 1257.0812051296234
Date 2015-07-19 end: 1263.140347957611
Date 2015-07-20 end: 1269.1870968341827
Date 2015-07-21 end: 1275.2611439228058
Date 2015-07-22 end: 1281.4242858886719
Date 2015-07-23 end: 1287.747871875763
Date 2015-07-24 end: 1293.982127904892
Date 2015-07-25 end: 1300.4433879852295
Date 2015-07-26 end: 1306.5176217556
Date 2015-07-27 end: 1312.6402080059052
Date 2015-07-28 end: 1318.7686710357666

Date 2015-07-29 end: 1325.0138709545135
Date 2015-07-30 end: 1331.3355250358582
Date 2015-07-31 end: 1337.506206035614
Date 2015-08-01 end: 1343.6087980270386
Date 2015-08-02 end: 1349.7440009117126
Date 2015-08-03 end: 1355.839341878891
Date 2015-08-04 end: 1361.942568063736
Date 2015-08-05 end: 1368.0234508514404
Date 2015-08-06 end: 1374.1384499073029
Date 2015-08-07 end: 1380.2435269355774
Date 2015-08-08 end: 1386.3217899799347
Date 2015-08-09 end: 1392.5438528060913
Date 2015-08-10 end: 1399.0399949550629
Date 2015-08-11 end: 1405.4141347408295
Date 2015-08-12 end: 1411.7819547653198
Date 2015-08-13 end: 1418.01278591156
Date 2015-08-14 end: 1424.238306760788
Date 2015-08-15 end: 1430.471254825592
Date 2015-08-16 end: 1436.909828901291
Date 2015-08-17 end: 1443.2190370559692
Date 2015-08-18 end: 1449.5978441238403
Date 2015-08-19 end: 1455.8763160705566
Date 2015-08-20 end: 1462.2278759479523
Date 2015-08-21 end: 1468.663822889328
Date 2015-08-22 end: 1474.9753289222717
Date 2015-08-23 end: 1481.1868438720703
Date 2015-08-24 end: 1487.3376758098602
Date 2015-08-25 end: 1493.4670898914337
Date 2015-08-26 end: 1499.960087776184
Date 2015-08-27 end: 1506.321674823761
Date 2015-08-28 end: 1512.3661088943481
Date 2015-08-29 end: 1518.5482068061829
Date 2015-08-30 end: 1525.0929608345032
Date 2015-08-31 end: 1531.1411418914795
Date 2015-09-01 end: 1537.4550800323486
Date 2015-09-02 end: 1543.5226120948792
Date 2015-09-03 end: 1549.7575571537018
Date 2015-09-04 end: 1556.1169397830963
Date 2015-09-05 end: 1562.4586210250854
Date 2015-09-06 end: 1568.6364979743958
Date 2015-09-07 end: 1574.9467737674713
Date 2015-09-08 end: 1581.1693179607391
Date 2015-09-09 end: 1587.43718791008
Date 2015-09-10 end: 1593.6504998207092
Date 2015-09-11 end: 1599.8099920749664
Date 2015-09-12 end: 1606.0153460502625
Date 2015-09-13 end: 1612.1730909347534
Date 2015-09-14 end: 1618.3515379428864
Date 2015-09-15 end: 1624.4756240844727
Date 2015-09-16 end: 1630.5791058540344
Date 2015-09-17 end: 1636.7525849342346
Date 2015-09-18 end: 1642.8586230278015
Date 2015-09-19 end: 1649.1523518562317
Date 2015-09-20 end: 1655.7081899642944
Date 2015-09-21 end: 1662.3561198711395
Date 2015-09-22 end: 1668.7862858772278
Date 2015-09-23 end: 1675.7659170627594
Date 2015-09-24 end: 1683.4020340442657
Date 2015-09-25 end: 1690.0542349815369
Date 2015-09-26 end: 1696.6097340583801
Date 2015-09-27 end: 1702.9703929424286
Date 2015-09-28 end: 1709.3234729766846
Date 2015-09-29 end: 1715.6747977733612
Date 2015-09-30 end: 1722.1085510253906
Date 2015-10-01 end: 1728.5517468452454
Date 2015-10-02 end: 1734.8469009399414
Date 2015-10-03 end: 1740.961277961731
Date 2015-10-04 end: 1747.3460738658905
Date 2015-10-05 end: 1753.4775319099426
Date 2015-10-06 end: 1759.7949767112732
Date 2015-10-07 end: 1766.3069961071014
Date 2015-10-08 end: 1772.6144828796387
Date 2015-10-09 end: 1778.9266169071198
Date 2015-10-10 end: 1784.9736800193787
Date 2015-10-11 end: 1791.0391218662262
Date 2015-10-12 end: 1797.2524588108063
Date 2015-10-13 end: 1803.5451579093933
Date 2015-10-14 end: 1810.1398780345917
Date 2015-10-15 end: 1817.6352820396423
Date 2015-10-16 end: 1824.4656217098236
Date 2015-10-17 end: 1830.5826120376587
Date 2015-10-18 end: 1836.8677577972412
Date 2015-10-19 end: 1843.073450088501
Date 2015-10-20 end: 1849.2721388339996
Date 2015-10-21 end: 1855.4086499214172
Date 2015-10-22 end: 1861.7644917964935
Date 2015-10-23 end: 1868.0202209949493
Date 2015-10-24 end: 1874.9124748706818
Date 2015-10-25 end: 1881.6798198223114
Date 2015-10-26 end: 1888.7619109153748
Date 2015-10-27 end: 1895.2313947677612
Date 2015-10-28 end: 1901.4539060592651
Date 2015-10-29 end: 1907.9106059074402
Date 2015-10-30 end: 1914.3329689502716
Date 2015-10-31 end: 1920.557371854782
Date 2015-11-01 end: 1926.773771762848
Date 2015-11-02 end: 1932.9929859638214
Date 2015-11-03 end: 1939.3280317783356
Date 2015-11-04 end: 1945.3651731014252
Date 2015-11-05 end: 1951.4819569587708
Date 2015-11-06 end: 1957.8199319839478
Date 2015-11-07 end: 1963.9054479599
Date 2015-11-08 end: 1970.067892074585
Date 2015-11-09 end: 1976.191771030426
Date 2015-11-10 end: 1982.269407749176
Date 2015-11-11 end: 1988.3254249095917
Date 2015-11-12 end: 1994.440920829773
Date 2015-11-13 end: 2000.5066499710083
Date 2015-11-14 end: 2006.6865317821503
Date 2015-11-15 end: 2012.7327618598938
Date 2015-11-16 end: 2019.0259189605713
Date 2015-11-17 end: 2025.2074971199036
Date 2015-11-18 end: 2031.2136280536652
Date 2015-11-19 end: 2037.2251360416412
Date 2015-11-20 end: 2043.2288048267365
Date 2015-11-21 end: 2049.2262558937073
Date 2015-11-22 end: 2055.2264688014984
Date 2015-11-23 end: 2061.3762259483337
Date 2015-11-24 end: 2067.440933942795
Date 2015-11-25 end: 2073.4796829223633
Date 2015-11-26 end: 2079.492726802826
Date 2015-11-27 end: 2085.5370469093323
Date 2015-11-28 end: 2091.5908229351044
Date 2015-11-29 end: 2097.8271787166595
Date 2015-11-30 end: 2104.22469997406
Date 2015-12-01 end: 2111.1593408584595
Date 2015-12-02 end: 2118.1880779266357
Date 2015-12-03 end: 2125.384110927582
Date 2015-12-04 end: 2132.2345838546753
Date 2015-12-05 end: 2138.95330786705
Date 2015-12-06 end: 2145.527821779251
Date 2015-12-07 end: 2152.010407924652
Date 2015-12-08 end: 2158.6072909832
Date 2015-12-09 end: 2164.848331928253
Date 2015-12-10 end: 2171.5406229496
Date 2015-12-11 end: 2178.1872849464417
Date 2015-12-12 end: 2184.977415084839
Date 2015-12-13 end: 2191.4699759483337
Date 2015-12-14 end: 2197.772985935211
Date 2015-12-15 end: 2204.4247670173645
Date 2015-12-16 end: 2210.8426949977875
Date 2015-12-17 end: 2219.5683438777924
Date 2015-12-18 end: 2228.3885860443115
Date 2015-12-19 end: 2235.295121908188
Date 2015-12-20 end: 2241.9179589748383
Date 2015-12-21 end: 2249.3831198215485
Date 2015-12-22 end: 2256.087823867798
Date 2015-12-23 end: 2262.61523103714
Date 2015-12-24 end: 2269.6090309619904
Date 2015-12-25 end: 2276.025593996048
Date 2015-12-26 end: 2282.48632979393
Date 2015-12-27 end: 2288.918440103531
Date 2015-12-28 end: 2295.5061309337616
Date 2015-12-29 end: 2301.8666257858276
Date 2015-12-30 end: 2308.091551065445
Date 2015-12-31 end: 2314.2210760116577
Line no.2호선 end: 2314.2212040424347
3호선
Date 2015-01-01 end: 2319.257523059845
Date 2015-01-02 end: 2324.0235710144043
Date 2015-01-03 end: 2328.782078027725
Date 2015-01-04 end: 2333.620775938034
Date 2015-01-05 end: 2338.41117811203
Date 2015-01-06 end: 2343.225550889969
Date 2015-01-07 end: 2347.989629983902
Date 2015-01-08 end: 2352.6946399211884
Date 2015-01-09 end: 2357.50049495697
Date 2015-01-10 end: 2362.248259782791
Date 2015-01-11 end: 2367.0360357761383
Date 2015-01-12 end: 2371.82280087471
Date 2015-01-13 end: 2376.578696012497
Date 2015-01-14 end: 2381.4034247398376
Date 2015-01-15 end: 2386.1739389896393
Date 2015-01-16 end: 2390.9007818698883
Date 2015-01-17 end: 2395.686196088791
Date 2015-01-18 end: 2400.451355934143
Date 2015-01-19 end: 2405.366686105728
Date 2015-01-20 end: 2410.1892428398132
Date 2015-01-21 end: 2414.950625896454
Date 2015-01-22 end: 2419.6633417606354
Date 2015-01-23 end: 2424.420928001404
Date 2015-01-24 end: 2429.2253608703613
Date 2015-01-25 end: 2434.019942998886
Date 2015-01-26 end: 2438.8696279525757
Date 2015-01-27 end: 2443.951420068741
Date 2015-01-28 end: 2449.1818828582764
Date 2015-01-29 end: 2454.91237783432
Date 2015-01-30 end: 2460.165999889374
Date 2015-01-31 end: 2464.9643080234528
Date 2015-02-01 end: 2470.190955877304
Date 2015-02-02 end: 2474.9513099193573
Date 2015-02-03 end: 2479.7544190883636
Date 2015-02-04 end: 2484.5996029376984
Date 2015-02-05 end: 2489.3457658290863
Date 2015-02-06 end: 2494.1383209228516
Date 2015-02-07 end: 2498.9511449337006
Date 2015-02-08 end: 2503.746695995331
Date 2015-02-09 end: 2508.5376439094543
Date 2015-02-10 end: 2513.3253090381622
Date 2015-02-11 end: 2518.070734977722
Date 2015-02-12 end: 2522.815260887146
Date 2015-02-13 end: 2527.5943970680237
Date 2015-02-14 end: 2532.308313846588
Date 2015-02-15 end: 2537.0412077903748
Date 2015-02-16 end: 2541.743761062622
Date 2015-02-17 end: 2546.4821248054504
Date 2015-02-18 end: 2551.205595970154
Date 2015-02-19 end: 2555.975264787674

Date 2015-02-20 end: 2560.6847817897797
Date 2015-02-21 end: 2565.385099887848
Date 2015-02-22 end: 2570.1585738658905
Date 2015-02-23 end: 2574.893807888031
Date 2015-02-24 end: 2579.64777302742
Date 2015-02-25 end: 2584.4470160007477
Date 2015-02-26 end: 2589.294275999069
Date 2015-02-27 end: 2594.0234818458557
Date 2015-02-28 end: 2598.8870120048523
Date 2015-03-01 end: 2603.759845018387
Date 2015-03-02 end: 2608.690685033798
Date 2015-03-03 end: 2613.637146949768
Date 2015-03-04 end: 2618.361737012863
Date 2015-03-05 end: 2623.0613458156586
Date 2015-03-06 end: 2627.7669620513916
Date 2015-03-07 end: 2632.4401590824127
Date 2015-03-08 end: 2637.113662958145
Date 2015-03-09 end: 2641.821587085724
Date 2015-03-10 end: 2646.8508570194244
Date 2015-03-11 end: 2651.990000963211
Date 2015-03-12 end: 2656.7077028751373
Date 2015-03-13 end: 2661.464975833893
Date 2015-03-14 end: 2666.228704929352
Date 2015-03-15 end: 2670.9254610538483
Date 2015-03-16 end: 2676.0627579689026
Date 2015-03-17 end: 2680.9715628623962
Date 2015-03-18 end: 2685.7660439014435
Date 2015-03-19 end: 2690.553689956665
Date 2015-03-20 end: 2695.236112833023
Date 2015-03-21 end: 2699.9723060131073
Date 2015-03-22 end: 2704.667427778244
Date 2015-03-23 end: 2709.4525027275085
Date 2015-03-24 end: 2714.168473958969
Date 2015-03-25 end: 2718.868232011795
Date 2015-03-26 end: 2723.5391838550568
Date 2015-03-27 end: 2728.2360339164734
Date 2015-03-28 end: 2732.922381877899
Date 2015-03-29 end: 2737.599986076355
Date 2015-03-30 end: 2742.277209997177
Date 2015-03-31 end: 2747.194836139679
Date 2015-04-01 end: 2752.0522899627686
Date 2015-04-02 end: 2756.9929978847504
Date 2015-04-03 end: 2761.842057943344
Date 2015-04-04 end: 2766.5617349147797
Date 2015-04-05 end: 2771.414608001709
Date 2015-04-06 end: 2776.1464059352875
Date 2015-04-07 end: 2780.8803730010986
Date 2015-04-08 end: 2785.8999979496
Date 2015-04-09 end: 2790.8886449337006
Date 2015-04-10 end: 2795.67826294899
Date 2015-04-11 end: 2800.5957889556885
Date 2015-04-12 end: 2805.429315805435
Date 2015-04-13 end: 2810.2091858386993
Date 2015-04-14 end: 2814.9311780929565
Date 2015-04-15 end: 2819.703759908676
Date 2015-04-16 end: 2824.5016779899597
Date 2015-04-17 end: 2829.224841117859
Date 2015-04-18 end: 2834.0683829784393
Date 2015-04-19 end: 2838.945991039276
Date 2015-04-20 end: 2843.7709789276123
Date 2015-04-21 end: 2848.536757707596
Date 2015-04-22 end: 2853.251093149185
Date 2015-04-23 end: 2857.9925730228424
Date 2015-04-24 end: 2862.804365873337
Date 2015-04-25 end: 2868.870980978012
Date 2015-04-26 end: 2874.949390888214
Date 2015-04-27 end: 2880.3507747650146
Date 2015-04-28 end: 2885.970456838608
Date 2015-04-29 end: 2891.7271349430084
Date 2015-04-30 end: 2897.495208978653
Date 2015-05-01 end: 2902.5434341430664
Date 2015-05-02 end: 2909.5373408794403
Date 2015-05-03 end: 2915.5163838863373
Date 2015-05-04 end: 2920.403456926346
Date 2015-05-05 end: 2925.4540009498596
Date 2015-05-06 end: 2930.27485704422
Date 2015-05-07 end: 2935.220743894577
Date 2015-05-08 end: 2940.057536840439
Date 2015-05-09 end: 2944.9050369262695
Date 2015-05-10 end: 2949.6066019535065
Date 2015-05-11 end: 2954.437087059021
Date 2015-05-12 end: 2959.3047907352448
Date 2015-05-13 end: 2964.0760118961334
Date 2015-05-14 end: 2968.8547847270966
Date 2015-05-15 end: 2973.8227200508118
Date 2015-05-16 end: 2978.5650708675385
Date 2015-05-17 end: 2983.2819318771362
Date 2015-05-18 end: 2988.019515991211
Date 2015-05-19 end: 2993.07275390625
Date 2015-05-20 end: 2997.84530377388
Date 2015-05-21 end: 3002.9492139816284
Date 2015-05-22 end: 3008.3073270320892
Date 2015-05-23 end: 3013.9340829849243
Date 2015-05-24 end: 3018.7719190120697
Date 2015-05-25 end: 3023.817378759384
Date 2015-05-26 end: 3029.22025513649
Date 2015-05-27 end: 3034.441372871399
Date 2015-05-28 end: 3039.367954015732
Date 2015-05-29 end: 3044.117855787277
Date 2015-05-30 end: 3048.9191830158234
Date 2015-05-31 end: 3053.6709818840027
Date 2015-06-01 end: 3058.518700838089
Date 2015-06-02 end: 3063.2843499183655
Date 2015-06-03 end: 3068.0802540779114
Date 2015-06-04 end: 3073.009943962097
Date 2015-06-05 end: 3077.9989728927612
Date 2015-06-06 end: 3083.065365076065
Date 2015-06-07 end: 3088.1086390018463
Date 2015-06-08 end: 3093.4227969646454
Date 2015-06-09 end: 3098.367103099823
Date 2015-06-10 end: 3103.1840658187866
Date 2015-06-11 end: 3107.98700094223
Date 2015-06-12 end: 3112.7619128227234
Date 2015-06-13 end: 3117.756891965866
Date 2015-06-14 end: 3122.718509912491
Date 2015-06-15 end: 3127.5202231407166
Date 2015-06-16 end: 3132.404370069504
Date 2015-06-17 end: 3137.1877138614655
Date 2015-06-18 end: 3141.9485850334167
Date 2015-06-19 end: 3146.7905077934265
Date 2015-06-20 end: 3151.634963989258
Date 2015-06-21 end: 3156.409495830536
Date 2015-06-22 end: 3161.2786169052124
Date 2015-06-23 end: 3166.167500972748
Date 2015-06-24 end: 3171.035547018051
Date 2015-06-25 end: 3175.8439140319824
Date 2015-06-26 end: 3180.7369759082794
Date 2015-06-27 end: 3185.6346011161804
Date 2015-06-28 end: 3190.4571299552917
Date 2015-06-29 end: 3195.1943650245667
Date 2015-06-30 end: 3199.903308868408
Date 2015-07-01 end: 3204.6574759483337
Date 2015-07-02 end: 3209.4885568618774
Date 2015-07-03 end: 3214.210368156433
Date 2015-07-04 end: 3219.092036962509
Date 2015-07-05 end: 3223.9765269756317
Date 2015-07-06 end: 3228.8191907405853
Date 2015-07-07 end: 3233.7217519283295
Date 2015-07-08 end: 3238.6060478687286
Date 2015-07-09 end: 3243.4456288814545
Date 2015-07-10 end: 3248.3188049793243
Date 2015-07-11 end: 3253.006633043289
Date 2015-07-12 end: 3257.8677558898926
Date 2015-07-13 end: 3262.7436780929565
Date 2015-07-14 end: 3267.598851919174
Date 2015-07-15 end: 3272.5407059192657
Date 2015-07-16 end: 3277.486228942871
Date 2015-07-17 end: 3282.442013025284
Date 2015-07-18 end: 3287.858692884445
Date 2015-07-19 end: 3293.5170028209686
Date 2015-07-20 end: 3300.372237920761
Date 2015-07-21 end: 3306.4285430908203
Date 2015-07-22 end: 3311.7640929222107
Date 2015-07-23 end: 3316.780518054962
Date 2015-07-24 end: 3322.3439948558807
Date 2015-07-25 end: 3327.874997138977
Date 2015-07-26 end: 3332.926474094391
Date 2015-07-27 end: 3337.662879705429
Date 2015-07-28 end: 3342.6771280765533
Date 2015-07-29 end: 3347.637754917145
Date 2015-07-30 end: 3353.003783941269
Date 2015-07-31 end: 3359.3235499858856
Date 2015-08-01 end: 3365.1708817481995
Date 2015-08-02 end: 3372.2353508472443
Date 2015-08-03 end: 3377.6687569618225
Date 2015-08-04 end: 3383.041090965271
Date 2015-08-05 end: 3388.1272118091583
Date 2015-08-06 end: 3393.062404870987
Date 2015-08-07 end: 3397.9090418815613
Date 2015-08-08 end: 3402.985676765442
Date 2015-08-09 end: 3408.169317007065
Date 2015-08-10 end: 3413.1531138420105
Date 2015-08-11 end: 3418.037992954254
Date 2015-08-12 end: 3423.0535278320312
Date 2015-08-13 end: 3427.987339735031
Date 2015-08-14 end: 3432.952650785446
Date 2015-08-15 end: 3438.0653369426727
Date 2015-08-16 end: 3442.9888060092926
Date 2015-08-17 end: 3447.8525540828705
Date 2015-08-18 end: 3452.6654369831085
Date 2015-08-19 end: 3457.4643518924713
Date 2015-08-20 end: 3462.221400976181
Date 2015-08-21 end: 3466.9802057743073
Date 2015-08-22 end: 3471.7208070755005
Date 2015-08-23 end: 3476.4954278469086
Date 2015-08-24 end: 3481.264969110489
Date 2015-08-25 end: 3486.012517929077
Date 2015-08-26 end: 3490.7138109207153
Date 2015-08-27 end: 3495.5071320533752
Date 2015-08-28 end: 3500.3412177562714
Date 2015-08-29 end: 3505.2781977653503
Date 2015-08-30 end: 3510.0290830135345
Date 2015-08-31 end: 3514.851475954056
Date 2015-09-01 end: 3519.6222398281097
Date 2015-09-02 end: 3524.404242992401
Date 2015-09-03 end: 3529.190160036087
Date 2015-09-04 end: 3533.9704480171204
Date 2015-09-05 end: 3538.8282477855682
Date 2015-09-06 end: 3543.739646911621
Date 2015-09-07 end: 3548.6748588085175
Date 2015-09-08 end: 3553.516266107559
Date 2015-09-09 end: 3558.390060901642
Date 2015-09-10 end: 3563.3226928710938
Date 2015-09-11 end: 3568.0708770751953
Date 2015-09-12 end: 3573.010321855545
Date 2015-09-13 end: 3577.933100938797
Date 2015-09-14 end: 3583.034742832184
Date 2015-09-15 end: 3587.867506980896

Date 2015-09-16 end: 3592.7997229099274
Date 2015-09-17 end: 3597.757793903351
Date 2015-09-18 end: 3602.578477859497
Date 2015-09-19 end: 3607.606168985367
Date 2015-09-20 end: 3612.687171936035
Date 2015-09-21 end: 3617.525540828705
Date 2015-09-22 end: 3622.485635995865
Date 2015-09-23 end: 3627.395115852356
Date 2015-09-24 end: 3632.2466399669647
Date 2015-09-25 end: 3637.046327829361
Date 2015-09-26 end: 3641.971920967102
Date 2015-09-27 end: 3646.7680747509003
Date 2015-09-28 end: 3651.5085368156433
Date 2015-09-29 end: 3656.277766942978
Date 2015-09-30 end: 3661.0662417411804
Date 2015-10-01 end: 3665.9514520168304
Date 2015-10-02 end: 3670.681975841522
Date 2015-10-03 end: 3675.458561897278
Date 2015-10-04 end: 3680.294357776642
Date 2015-10-05 end: 3685.0686419010162
Date 2015-10-06 end: 3689.9460797309875
Date 2015-10-07 end: 3694.8914210796356
Date 2015-10-08 end: 3699.7345707416534
Date 2015-10-09 end: 3704.431599855423
Date 2015-10-10 end: 3709.181485891342
Date 2015-10-11 end: 3714.0166008472443
Date 2015-10-12 end: 3718.921977996826
Date 2015-10-13 end: 3723.725779056549
Date 2015-10-14 end: 3728.6460387706757
Date 2015-10-15 end: 3733.6012649536133
Date 2015-10-16 end: 3738.531364917755
Date 2015-10-17 end: 3743.251780986786
Date 2015-10-18 end: 3747.972928762436
Date 2015-10-19 end: 3752.759992837906
Date 2015-10-20 end: 3757.6958429813385
Date 2015-10-21 end: 3762.5021500587463
Date 2015-10-22 end: 3767.2007808685303
Date 2015-10-23 end: 3771.9456079006195
Date 2015-10-24 end: 3776.641129016876
Date 2015-10-25 end: 3781.3533210754395
Date 2015-10-26 end: 3786.04979801178
Date 2015-10-27 end: 3790.7411301136017
Date 2015-10-28 end: 3795.481304883957
Date 2015-10-29 end: 3800.244863986969
Date 2015-10-30 end: 3804.9951350688934
Date 2015-10-31 end: 3809.7161498069763
Date 2015-11-01 end: 3814.4187648296356
Date 2015-11-02 end: 3819.119908809662
Date 2015-11-03 end: 3823.8046238422394
Date 2015-11-04 end: 3828.8080999851227
Date 2015-11-05 end: 3833.633314847946
Date 2015-11-06 end: 3838.4331378936768
Date 2015-11-07 end: 3843.350453853607
Date 2015-11-08 end: 3848.2027759552
Date 2015-11-09 end: 3853.070698738098
Date 2015-11-10 end: 3857.9619829654694
Date 2015-11-11 end: 3862.8098468780518
Date 2015-11-12 end: 3867.620715856552
Date 2015-11-13 end: 3872.6391308307648
Date 2015-11-14 end: 3877.5528609752655
Date 2015-11-15 end: 3882.5703139305115
Date 2015-11-16 end: 3887.63191986084
Date 2015-11-17 end: 3892.513901948929
Date 2015-11-18 end: 3897.5425748825073
Date 2015-11-19 end: 3902.36682677269
Date 2015-11-20 end: 3907.7430408000946
Date 2015-11-21 end: 3912.7875089645386
Date 2015-11-22 end: 3917.6498341560364
Date 2015-11-23 end: 3922.5817680358887
Date 2015-11-24 end: 3927.782623052597
Date 2015-11-25 end: 3932.719836950302
Date 2015-11-26 end: 3937.5578298568726
Date 2015-11-27 end: 3942.700288772583
Date 2015-11-28 end: 3947.7032630443573
Date 2015-11-29 end: 3952.497305870056
Date 2015-11-30 end: 3957.402583837509
Date 2015-12-01 end: 3962.349224090576
Date 2015-12-02 end: 3967.1974658966064
Date 2015-12-03 end: 3972.060657978058
Date 2015-12-04 end: 3976.892693042755
Date 2015-12-05 end: 3981.717978000641
Date 2015-12-06 end: 3986.6318900585175
Date 2015-12-07 end: 3991.503185033798
Date 2015-12-08 end: 3996.381386756897
Date 2015-12-09 end: 4001.229597091675
Date 2015-12-10 end: 4006.2010939121246
Date 2015-12-11 end: 4011.047078847885
Date 2015-12-12 end: 4015.898472070694
Date 2015-12-13 end: 4020.8874278068542
Date 2015-12-14 end: 4025.9885578155518
Date 2015-12-15 end: 4030.980022907257
Date 2015-12-16 end: 4035.9255549907684
Date 2015-12-17 end: 4040.871814966202
Date 2015-12-18 end: 4045.824309825897
Date 2015-12-19 end: 4050.9585230350494
Date 2015-12-20 end: 4055.9260430336
Date 2015-12-21 end: 4060.9607629776
Date 2015-12-22 end: 4066.4431579113007
Date 2015-12-23 end: 4072.105877161026
Date 2015-12-24 end: 4078.322135925293
Date 2015-12-25 end: 4083.6101610660553
Date 2015-12-26 end: 4089.01109790802
Date 2015-12-27 end: 4094.7004919052124
Date 2015-12-28 end: 4099.94194483757
Date 2015-12-29 end: 4104.942739009857
Date 2015-12-30 end: 4110.172408819199
Date 2015-12-31 end: 4115.188330888748
Line no.3호선 end: 4115.188431978226
4호선
Date 2015-01-01 end: 4119.908814907074
Date 2015-01-02 end: 4123.780001878738
Date 2015-01-03 end: 4127.554847002029
Date 2015-01-04 end: 4131.321282863617
Date 2015-01-05 end: 4135.346677064896
Date 2015-01-06 end: 4139.268629074097
Date 2015-01-07 end: 4143.0670738220215
Date 2015-01-08 end: 4147.007036924362
Date 2015-01-09 end: 4151.26913690567
Date 2015-01-10 end: 4155.353009939194
Date 2015-01-11 end: 4159.229140043259
Date 2015-01-12 end: 4163.166023015976
Date 2015-01-13 end: 4167.618033885956
Date 2015-01-14 end: 4171.5092079639435
Date 2015-01-15 end: 4175.395177125931
Date 2015-01-16 end: 4179.21751999855
Date 2015-01-17 end: 4183.077305793762
Date 2015-01-18 end: 4186.937736988068
Date 2015-01-19 end: 4191.383677005768
Date 2015-01-20 end: 4195.269868850708
Date 2015-01-21 end: 4199.635969877243
Date 2015-01-22 end: 4203.6394209861755
Date 2015-01-23 end: 4207.579519033432
Date 2015-01-24 end: 4211.603152990341
Date 2015-01-25 end: 4215.586714982986
Date 2015-01-26 end: 4219.3552849292755
Date 2015-01-27 end: 4223.19445681572
Date 2015-01-28 end: 4226.974331855774
Date 2015-01-29 end: 4230.868250846863
Date 2015-01-30 end: 4234.618944168091
Date 2015-01-31 end: 4238.266231775284
Date 2015-02-01 end: 4242.0202078819275
Date 2015-02-02 end: 4245.916338920593
Date 2015-02-03 end: 4249.873669862747
Date 2015-02-04 end: 4253.888852119446
Date 2015-02-05 end: 4258.010816812515
Date 2015-02-06 end: 4262.090821027756
Date 2015-02-07 end: 4265.853339910507
Date 2015-02-08 end: 4269.821453809738
Date 2015-02-09 end: 4273.593060970306
Date 2015-02-10 end: 4277.450577020645
Date 2015-02-11 end: 4281.473150968552
Date 2015-02-12 end: 4285.523018836975
Date 2015-02-13 end: 4289.433073043823
Date 2015-02-14 end: 4293.4979429244995
Date 2015-02-15 end: 4297.396813869476
Date 2015-02-16 end: 4301.27819609642
Date 2015-02-17 end: 4305.188856840134
Date 2015-02-18 end: 4309.246174097061
Date 2015-02-19 end: 4313.121791124344
Date 2015-02-20 end: 4317.159232854843
Date 2015-02-21 end: 4321.177964925766
Date 2015-02-22 end: 4324.8493440151215
Date 2015-02-23 end: 4328.662451028824
Date 2015-02-24 end: 4332.6483998298645
Date 2015-02-25 end: 4336.4917159080505
Date 2015-02-26 end: 4340.390303134918
Date 2015-02-27 end: 4344.271423101425
Date 2015-02-28 end: 4348.027928829193
Date 2015-03-01 end: 4351.81370306015
Date 2015-03-02 end: 4355.792268753052
Date 2015-03-03 end: 4359.749215126038
Date 2015-03-04 end: 4363.585472822189
Date 2015-03-05 end: 4367.374819993973
Date 2015-03-06 end: 4371.454024076462
Date 2015-03-07 end: 4375.3232858181
Date 2015-03-08 end: 4379.164085865021
Date 2015-03-09 end: 4383.116283893585
Date 2015-03-10 end: 4386.77854180336
Date 2015-03-11 end: 4390.41440486908
Date 2015-03-12 end: 4394.056087970734
Date 2015-03-13 end: 4397.758209943771
Date 2015-03-14 end: 4401.865381002426
Date 2015-03-15 end: 4405.7662098407745
Date 2015-03-16 end: 4409.961193084717
Date 2015-03-17 end: 4413.658581018448
Date 2015-03-18 end: 4417.514919042587
Date 2015-03-19 end: 4421.566059827805
Date 2015-03-20 end: 4425.557943820953
Date 2015-03-21 end: 4429.856037855148
Date 2015-03-22 end: 4433.867151975632
Date 2015-03-23 end: 4437.892252922058
Date 2015-03-24 end: 4441.678671836853
Date 2015-03-25 end: 4445.447297811508
Date 2015-03-26 end: 4449.637220859528
Date 2015-03-27 end: 4453.664262056351
Date 2015-03-28 end: 4457.875776052475
Date 2015-03-29 end: 4461.85054898262
Date 2015-03-30 end: 4465.907885789871
Date 2015-03-31 end: 4470.074275970459
Date 2015-04-01 end: 4474.03257393837
Date 2015-04-02 end: 4477.964746713638
Date 2015-04-03 end: 4481.9094479084015
Date 2015-04-04 end: 4485.90295290947
Date 2015-04-05 end: 4489.824588775635
Date 2015-04-06 end: 4493.6039781570435
Date 2015-04-07 end: 4497.326854944229
Date 2015-04-08 end: 4501.020835876465
Date 2015-04-09 end: 4504.727992773056
Date 2015-04-10 end: 4508.550398111343
Date 2015-04-11 end: 4512.234221935272
Date 2015-04-12 end: 4515.925364971161

Date 2015-04-13 end: 4519.603903055191
Date 2015-04-14 end: 4523.28019785881
Date 2015-04-15 end: 4526.973313808441
Date 2015-04-16 end: 4530.706025123596
Date 2015-04-17 end: 4534.474083900452
Date 2015-04-18 end: 4538.171351909637
Date 2015-04-19 end: 4541.856376886368
Date 2015-04-20 end: 4545.622781038284
Date 2015-04-21 end: 4549.520359039307
Date 2015-04-22 end: 4553.230080842972
Date 2015-04-23 end: 4557.113924980164
Date 2015-04-24 end: 4560.780200004578
Date 2015-04-25 end: 4564.441260814667
Date 2015-04-26 end: 4568.13063788414
Date 2015-04-27 end: 4571.831040143967
Date 2015-04-28 end: 4575.51407289505
Date 2015-04-29 end: 4579.291263103485
Date 2015-04-30 end: 4583.022380828857
Date 2015-05-01 end: 4586.919294118881
Date 2015-05-02 end: 4590.746017932892
Date 2015-05-03 end: 4594.415018081665
Date 2015-05-04 end: 4598.178837060928
Date 2015-05-05 end: 4601.844908952713
Date 2015-05-06 end: 4605.584208011627
Date 2015-05-07 end: 4609.3283360004425
Date 2015-05-08 end: 4612.986039876938
Date 2015-05-09 end: 4616.64250087738
Date 2015-05-10 end: 4620.402443885803
Date 2015-05-11 end: 4624.107666969299
Date 2015-05-12 end: 4627.869495868683
Date 2015-05-13 end: 4631.573045730591
Date 2015-05-14 end: 4635.313825845718
Date 2015-05-15 end: 4639.003381729126
Date 2015-05-16 end: 4642.821427106857
Date 2015-05-17 end: 4646.6041049957275
Date 2015-05-18 end: 4650.319307804108
Date 2015-05-19 end: 4654.0656089782715
Date 2015-05-20 end: 4657.805697917938
Date 2015-05-21 end: 4661.471616029739
Date 2015-05-22 end: 4665.163229942322
Date 2015-05-23 end: 4668.85688495636
Date 2015-05-24 end: 4672.593065977097
Date 2015-05-25 end: 4676.377868890762
Date 2015-05-26 end: 4680.279765129089
Date 2015-05-27 end: 4684.20246386528
Date 2015-05-28 end: 4688.032760858536
Date 2015-05-29 end: 4691.823668956757
Date 2015-05-30 end: 4695.785146951675
Date 2015-05-31 end: 4699.6131410598755
Date 2015-06-01 end: 4703.431450843811
Date 2015-06-02 end: 4707.196973800659
Date 2015-06-03 end: 4710.92413187027
Date 2015-06-04 end: 4714.651510953903
Date 2015-06-05 end: 4718.368295907974
Date 2015-06-06 end: 4722.126127004623
Date 2015-06-07 end: 4725.865792751312
Date 2015-06-08 end: 4729.662309885025
Date 2015-06-09 end: 4733.362753868103
Date 2015-06-10 end: 4737.0802710056305
Date 2015-06-11 end: 4741.0232038497925
Date 2015-06-12 end: 4744.91907286644
Date 2015-06-13 end: 4748.82667183876
Date 2015-06-14 end: 4752.930528879166
Date 2015-06-15 end: 4757.03441286087
Date 2015-06-16 end: 4760.998922109604
Date 2015-06-17 end: 4764.893800020218
Date 2015-06-18 end: 4768.91273188591
Date 2015-06-19 end: 4772.999696969986
Date 2015-06-20 end: 4777.12991809845
Date 2015-06-21 end: 4781.353931903839
Date 2015-06-22 end: 4785.363956928253
Date 2015-06-23 end: 4789.337370872498
Date 2015-06-24 end: 4793.363531827927
Date 2015-06-25 end: 4797.1361348629
Date 2015-06-26 end: 4800.903264760971
Date 2015-06-27 end: 4804.6866908073425
Date 2015-06-28 end: 4808.460439920425
Date 2015-06-29 end: 4812.2313549518585
Date 2015-06-30 end: 4815.979336977005
Date 2015-07-01 end: 4819.757443904877
Date 2015-07-02 end: 4823.556752920151
Date 2015-07-03 end: 4827.212550878525
Date 2015-07-04 end: 4830.886292934418
Date 2015-07-05 end: 4834.561352014542
Date 2015-07-06 end: 4838.20191693306
Date 2015-07-07 end: 4841.842195034027
Date 2015-07-08 end: 4845.486490011215
Date 2015-07-09 end: 4849.1834881305695
Date 2015-07-10 end: 4852.855811834335
Date 2015-07-11 end: 4856.500850915909
Date 2015-07-12 end: 4860.148540973663
Date 2015-07-13 end: 4863.7953770160675
Date 2015-07-14 end: 4867.4300899505615
Date 2015-07-15 end: 4871.063577890396
Date 2015-07-16 end: 4874.726675987244
Date 2015-07-17 end: 4878.383813858032
Date 2015-07-18 end: 4882.031777858734
Date 2015-07-19 end: 4885.678601026535
Date 2015-07-20 end: 4889.336493968964
Date 2015-07-21 end: 4892.987559080124
Date 2015-07-22 end: 4896.656085014343
Date 2015-07-23 end: 4900.312481880188
Date 2015-07-24 end: 4903.964648962021
Date 2015-07-25 end: 4907.626527786255
Date 2015-07-26 end: 4911.271790981293
Date 2015-07-27 end: 4914.934604883194
Date 2015-07-28 end: 4918.593836784363
Date 2015-07-29 end: 4922.246976137161
Date 2015-07-30 end: 4925.891048908234
Date 2015-07-31 end: 4929.520043849945
Date 2015-08-01 end: 4933.168060064316
Date 2015-08-02 end: 4936.837063074112
Date 2015-08-03 end: 4940.484990119934
Date 2015-08-04 end: 4944.326705932617
Date 2015-08-05 end: 4948.015356063843
Date 2015-08-06 end: 4951.669085979462
Date 2015-08-07 end: 4955.326194047928
Date 2015-08-08 end: 4958.9747858047485
Date 2015-08-09 end: 4962.619437932968
Date 2015-08-10 end: 4966.383957147598
Date 2015-08-11 end: 4970.066438913345
Date 2015-08-12 end: 4973.711899995804
Date 2015-08-13 end: 4977.402157783508
Date 2015-08-14 end: 4981.059570074081
Date 2015-08-15 end: 4984.707473993301
Date 2015-08-16 end: 4988.348583936691
Date 2015-08-17 end: 4991.983554840088
Date 2015-08-18 end: 4995.646814107895
Date 2015-08-19 end: 4999.297346830368
Date 2015-08-20 end: 5002.959538936615
Date 2015-08-21 end: 5006.614696979523
Date 2015-08-22 end: 5010.260055780411
Date 2015-08-23 end: 5013.903797149658
Date 2015-08-24 end: 5017.542304754257
Date 2015-08-25 end: 5021.198944807053
Date 2015-08-26 end: 5024.838910102844
Date 2015-08-27 end: 5028.479168891907
Date 2015-08-28 end: 5032.121802806854
Date 2015-08-29 end: 5035.77619099617
Date 2015-08-30 end: 5039.423163890839
Date 2015-08-31 end: 5043.098526000977
Date 2015-09-01 end: 5046.7445657253265
Date 2015-09-02 end: 5050.387440919876
Date 2015-09-03 end: 5054.038630962372
Date 2015-09-04 end: 5057.736118793488
Date 2015-09-05 end: 5061.41636800766
Date 2015-09-06 end: 5065.089882850647
Date 2015-09-07 end: 5068.76001906395
Date 2015-09-08 end: 5072.461691856384
Date 2015-09-09 end: 5076.203017950058
Date 2015-09-10 end: 5079.879411935806
Date 2015-09-11 end: 5083.576942920685
Date 2015-09-12 end: 5087.224025964737
Date 2015-09-13 end: 5090.9034078121185
Date 2015-09-14 end: 5094.546400785446
Date 2015-09-15 end: 5098.226459980011
Date 2015-09-16 end: 5101.873516798019
Date 2015-09-17 end: 5105.513062953949
Date 2015-09-18 end: 5109.317332029343
Date 2015-09-19 end: 5112.949656963348
Date 2015-09-20 end: 5116.593994855881
Date 2015-09-21 end: 5120.257936954498
Date 2015-09-22 end: 5123.910395860672
Date 2015-09-23 end: 5127.554218053818
Date 2015-09-24 end: 5131.210214853287
Date 2015-09-25 end: 5134.841914892197
Date 2015-09-26 end: 5138.592477083206
Date 2015-09-27 end: 5142.2679398059845
Date 2015-09-28 end: 5145.905693054199
Date 2015-09-29 end: 5149.566528081894
Date 2015-09-30 end: 5153.206565856934
Date 2015-10-01 end: 5156.846590042114
Date 2015-10-02 end: 5160.490494012833
Date 2015-10-03 end: 5164.150826692581
Date 2015-10-04 end: 5167.793247699738
Date 2015-10-05 end: 5171.478504896164
Date 2015-10-06 end: 5175.1242389678955
Date 2015-10-07 end: 5178.776397943497
Date 2015-10-08 end: 5182.408406734467
Date 2015-10-09 end: 5186.065407037735
Date 2015-10-10 end: 5189.749334812164
Date 2015-10-11 end: 5193.418069124222
Date 2015-10-12 end: 5197.080064058304
Date 2015-10-13 end: 5200.728385925293
Date 2015-10-14 end: 5204.368745088577
Date 2015-10-15 end: 5208.031373977661
Date 2015-10-16 end: 5211.680948019028
Date 2015-10-17 end: 5215.3182809352875
Date 2015-10-18 end: 5218.974219799042
Date 2015-10-19 end: 5222.676189899445
Date 2015-10-20 end: 5226.312526941299
Date 2015-10-21 end: 5229.951852798462
Date 2015-10-22 end: 5233.59934592247
Date 2015-10-23 end: 5237.237393856049
Date 2015-10-24 end: 5240.9027009010315
Date 2015-10-25 end: 5244.551034927368
Date 2015-10-26 end: 5248.216403961182
Date 2015-10-27 end: 5251.860749959946
Date 2015-10-28 end: 5255.49729013443
Date 2015-10-29 end: 5259.1357209682465
Date 2015-10-30 end: 5262.759564876556
Date 2015-10-31 end: 5266.398646831512
Date 2015-11-01 end: 5270.036773920059
Date 2015-11-02 end: 5273.66551399231
Date 2015-11-03 end: 5277.361976861954
Date 2015-11-04 end: 5281.006659984589
Date 2015-11-05 end: 5284.672507047653
Date 2015-11-06 end: 5288.3202068805695
Date 2015-11-07 end: 5291.951701879501
Date 2015-11-08 end: 5295.5957498550415
Date 2015-11-09 end: 5299.252680063248

Date 2015-11-10 end: 5302.885857820511
Date 2015-11-11 end: 5306.531074762344
Date 2015-11-12 end: 5310.187274694443
Date 2015-11-13 end: 5313.816988945007
Date 2015-11-14 end: 5317.457236051559
Date 2015-11-15 end: 5321.1026220321655
Date 2015-11-16 end: 5324.745388746262
Date 2015-11-17 end: 5328.447777748108
Date 2015-11-18 end: 5332.132919788361
Date 2015-11-19 end: 5335.77552485466
Date 2015-11-20 end: 5339.4266567230225
Date 2015-11-21 end: 5343.070456981659
Date 2015-11-22 end: 5346.708883047104
Date 2015-11-23 end: 5350.347023010254
Date 2015-11-24 end: 5353.97661280632
Date 2015-11-25 end: 5357.651387929916
Date 2015-11-26 end: 5361.298512935638
Date 2015-11-27 end: 5364.945822954178
Date 2015-11-28 end: 5368.619260072708
Date 2015-11-29 end: 5372.270720720291
Date 2015-11-30 end: 5375.914509773254
Date 2015-12-01 end: 5379.569034814835
Date 2015-12-02 end: 5383.225468873978
Date 2015-12-03 end: 5387.101288080215
Date 2015-12-04 end: 5390.733631134033
Date 2015-12-05 end: 5394.355572938919
Date 2015-12-06 end: 5398.066264867783
Date 2015-12-07 end: 5401.69389295578
Date 2015-12-08 end: 5405.320907831192
Date 2015-12-09 end: 5408.960704088211
Date 2015-12-10 end: 5412.579776763916
Date 2015-12-11 end: 5416.235271930695
Date 2015-12-12 end: 5419.8905119895935
Date 2015-12-13 end: 5423.531594753265
Date 2015-12-14 end: 5427.182985067368
Date 2015-12-15 end: 5430.8221089839935
Date 2015-12-16 end: 5434.591426849365
Date 2015-12-17 end: 5438.377484798431
Date 2015-12-18 end: 5442.329545021057
Date 2015-12-19 end: 5446.351927757263
Date 2015-12-20 end: 5450.179372787476
Date 2015-12-21 end: 5453.899167060852
Date 2015-12-22 end: 5457.712790727615
Date 2015-12-23 end: 5461.535679101944
Date 2015-12-24 end: 5465.2643830776215
Date 2015-12-25 end: 5469.005434989929
Date 2015-12-26 end: 5472.802649974823
Date 2015-12-27 end: 5476.5446491241455
Date 2015-12-28 end: 5480.3300750255585
Date 2015-12-29 end: 5484.033366918564
Date 2015-12-30 end: 5487.7560868263245
Date 2015-12-31 end: 5491.588795900345
Line no.4호선 end: 5491.588899850845

In [14]:
df_db

,holiday,date,time,line,order,from_stt,to_stt,in,out,cong,crowd
0,2,2015-01-01,5,1호선,상선,서울역,시청,441.0,392.0,NaN,NaN
1,2,2015-01-01,5,1호선,상선,시청,종각,101.0,57.0,NaN,NaN
2,2,2015-01-01,5,1호선,상선,종각,종로3가,898.0,60.0,NaN,NaN
3,2,2015-01-01,5,1호선,상선,종로3가,종로5가,371.0,27.0,NaN,NaN
4,2,2015-01-01,5,1호선,상선,종로5가,동대문,57.0,22.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1605995,0,2015-12-31,24,4호선,하선,쌍문,수유,197.0,1128.0,NaN,NaN
1605996,0,2015-12-31,24,4호선,하선,창동,쌍문,200.0,987.0,NaN,NaN
1605997,0,2015-12-31,24,4호선,하선,노원,창동,346.0,1104.0,NaN,NaN
1605998,0,2015-12-31,24,4호선,하선,상계,노원,116.0,717.0,NaN,NaN
1605999,0,2015-12-31,24,4호선,하선,당고개,상계,36.0,416.0,NaN,NaN

In [16]:
df_db.to_csv(f"./final_db/df_db_hday_rvs_inout.csv")